-i https://pypi.python.org/simple
amqp==2.3.2
atomicwrites==1.2.1
attrs==18.2.0
billiard==3.5.0.5
celery==4.2.1
coverage==4.5.2
kombu==4.2.2
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest-cov==2.6.0
pytest==3.10.1
pytz==2018.7
redis==3.0.1
six==1.12.0
vine==1.1.4
